.blog-card {
  float: left;
  padding: 10px;
  width: 100%;

  /* .banner {
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  } */
  p {
    margin-top: 15px;
  }
  #postComment {
    display: flex;
    overflow: hidden;
  }

  h2 {
    margin-bottom: 10px;
    size: 14px;
  }

  #postComment {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background: #0056b3;
  }

  .static_line {
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

#commentList {
  display: flex;
  justify-content: end;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 10px;
  gap: 10px;
}

.react-button {
  border: 1px solid transparent;
  outline: none;
  padding: 8px 16px;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: all 0.3s ease;
  img {
    width: 30px;
    height: 30px;
  }
}


.reacted {
  background: #e0f7fa; /* nền xanh nhạt khi đã like */
  color: #7b61ff; /* đổi màu chữ */
}

/* #like-button.liked #like-icon,
#dislike-button.disliked #dislike-icon {
  filter: hue-rotate(250deg) brightness(1.2); /* đổi màu icon */
/* } */

/* Khi màn hình nhỏ hơn 768px (tablet/điện thoại) */
@media only screen and (max-width: 768px) {
  #about {
    width: 100%;
  }
}

/* Khi màn hình nhỏ hơn 480px (điện thoại nhỏ) */
@media only screen and (max-width: 480px) {
  #about {
    width: 100%;
  }
}
