.comments {
  p{
    margin-top: 15px;
  }
  #postComment{
    display:flex;
    overflow: hidden;
    
  }
  
  width: 98%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  background: 57B4BA;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  
 


  h2 {
    margin-bottom: 10px;
    size:14px;
  }

  #postComment {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background: #0056b3;
  }
}



#commentList{
  gap: 8px;
  display: flex;
}

#dislike-icon{
  width: 40px;
  height: 40px;
  margin-right: 6px;
  transition: all 0.3 ease-in-out;
}

#like-button, #chat-button, #dislike-button {
  background: white; /* nền trắng mặc định */
  border: 1px solid #ddd;
  padding: 8px 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: all 0.3s ease;
}

#like-icon{
  width: 24px;
  height: 24px;
  margin-right: 6px;
  transition: filter 0.3s;
}

#like-button.liked , #dislike-button.disliked{
  background: #e0f7fa; /* nền xanh nhạt khi đã like */
  color: #7b61ff; /* đổi màu chữ */
}

#like-button.liked #like-icon, #dislike-button.disliked #dislike-icon{
  filter: hue-rotate(250deg) brightness(1.2); /* đổi màu icon */
}








@media (max-width: 768px) {
  .comments,
  .sidebar {
    width: 100%;
    float: none;
  }
}

