.comments {
  #postComment{
    display:flex;
    overflow: hidden;
  }
  width: 100%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  background: 57B4BA;
  padding-left: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
 


  h2 {
    margin-bottom: 10px;
    size:14px;
  }

  button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background: #0056b3;
  }
}



#commentList{
  margin-top: 10px;
  svg{
    width:20px;
    margin-right: 10px;
  }
}




@media (max-width: 768px) {
  .comments,
  .sidebar {
    width: 100%;
    float: none;
  }
}

