
footer{
    .login{
        width: 300px;
        height: 360px;
        border: 2px solid grey;
    }
    .submit{
        color: green;
    }
    
}





.main-content{
    margin: 0 auto;
    padding: auto;
    
}

#about{
    flex-basis: 70%;
   
    
}
#slidebar{
    flex-basis: 30%;
}

footer{
    .top{
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: yellow;
        padding: 20px;
        border-radius: 20px;

        
    }
    .top img{
        width: 80px;
    }
}






